.main-content{
	padding-top: 40px;
	margin:0 auto;
}
.top-row{
	margin-bottom: 20px;
}
.fistrow{
	margin-bottom: 30px;
}
.acccount{
	text-align:center;
	background: #EDEDEE;
	border-radius: 10px;
	font-weight: bold;
}