<form (ngSubmit)="onSubmit()" #analizeMelt="ngForm" class="form-horizontal" role="form" enctype="multipart/form-data">

    <div class="modal-header">
      <h4 class="modal-title" style="margin:0 auto;">Registrar costo de Fundicion/Analisis</h4>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
         	<div class="form-group">
				<div class="input-group mb-3">
				  <div class="input-group-prepend">
					   <select (ngModelChange)="resetValues()" class="form-control" name="weightUnit" [(ngModel)]="model.weightUnit" #weightUnit="ngModel">
					   		<option value="gr">gr</option>
					   		<option value="oz">Oz</option>
					   		<option value="kg">Kg</option>
					   </select>
				  </div>

				<input disabled type="text" [ngModel]="quantAlt() | number : '1.2-4'" #cantidad="ngModel" class="form-control" name="cantidad" placeholder="Cantidad" aria-label="Cantidad" aria-describedby="basic-addon1" required>
				</div> 

         	</div>

         	<div class="form-group">
				<div class="input-group mb-3">
					  <div class="input-group-prepend">
					  	<span class="input-group-text" id="basic-addon1">{{model.currency | capitalize }}</span>
					  </div>
				 	 <input disabled type="text" class="form-control" [value]="getUnitPrice()" placeholder="Precio Unitario" aria-label="precioUnitario" aria-describedby="basic-addon1" required>
					<div class="input-group-append">
						<span class="input-group-text">/ {{model.weightUnit||'-'}}</span>
					</div>
				</div>
         	</div>

          <div class="form-group">
         	
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon3">
			    ¿Fundido? <input [required]="model.legal!==true" (ngModelChange)="verifyFundidoData(analizeMelt)" [(ngModel)]="model.fundido" #fundido="ngModel" name="fundido" type="checkbox" style="margin-left: 5px;" aria-label="Checkbox for following text input">

				</span>
			  </div>
			  <input [disabled]="!model.fundido" [required]="model.fundido" type="number" [(ngModel)]="model.pesoPost" #pesoPost="ngModel" name="pesoPost" class="form-control" customMax="{{quantAlt()}}" customMin="0" placeholder="Peso despues de fundicion" id="basic-url" aria-describedby="basic-addon3">
				<div class="input-group-append">
					<span class="input-group-text">{{model.weightUnit||'-'}}</span>
				</div>

			</div>

			<div *ngIf="pesoPost.errors && pesoPost.errors.required && pesoPost.touched"
				 class="alert alert-danger errorMsg">
				Ingrese peso despues de fundicion.
			</div>
			<div *ngIf="pesoPost.errors && pesoPost.errors.customMax && pesoPost.touched"
			 class="alert alert-danger errorMsg">
				El peso post fundicion no puede ser mayor a la cantidad original ( {{quantAlt() | number: '1.2-4'}} {{model.weightUnit | capitalize }})
			</div> 
         </div>


         <div class="form-group">
			<div class="input-group mb-3">
			  <input [disabled]="!model.fundido" [required]="model.fundido==true" type="number" [(ngModel)]="model.meltCost" #meltCost="ngModel" name="meltCost" class="form-control" customMin="0"  placeholder="Costo de fundicion" id="basic-url" aria-describedby="basic-addon3">
				<div class="input-group-append">
					<span class="input-group-text">{{model.currency|capitalize}}</span>
				</div>
			</div>
			<div class="alert alert-danger" *ngIf="meltCost.errors && meltCost.touched">
				<div *ngIf="meltCost.errors.required">
				Ingrese costo de fundicion.
				</div>
				<div *ngIf="meltCost.errors.customMin">
				Costo no puede ser negativo.
				</div> 				
			</div>   	
         </div> 

         <div class="form-group">
			<div class="input-group mb-3">
			  <div class="input-group-prepend">
			    <span class="input-group-text" id="basic-addon3">
			    Legal? <input (ngModelChange)="verifyLegalData(analizeMelt)" type="checkbox" [(ngModel)]="model.legal" #legal="ngModel"  name="legal" style="margin-left: 5px;" aria-label="Checkbox for following text input">

				</span>
			  </div>
			  <input [disabled]="!model.legal" [required]="model.legal" type="number" [(ngModel)]="model.evalCost" #evalCost="ngModel" name="evalCost"  class="form-control"  placeholder="Costo de evaluacion" id="basic-url" aria-describedby="basic-addon3">
				<div class="input-group-append">
					<span class="input-group-text">{{model.currency||'-'|capitalize}}</span>
				</div>
			</div>
				<div class="alert alert-danger errorMsg" *ngIf="evalCost.errors && evalCost.touched">
					<div *ngIf="evalCost.errors.required">
					Ingrese costo de evaluacion.
					</div>
					<div *ngIf="evalCost.errors.customMin">
					Costo no puede ser negativo.
					</div> 				
				</div>  	
         </div>


		<div class="form-group" *ngIf="model.legal">
			<hr>
			<label >Comprobante:</label>
			<div class="input-group mb-3">
				<input type="file" name="comprobante">
			</div>
		</div>

		<div>
			<label><strong>Precio compra:</strong></label>
			<span style="margin-left: 15px;">

				{{modalData.currency | capitalize}} {{ (modalData.cantidad | weightConvert :'gr': modalData.weightUnit) * modalData.precio | number : '1.2-2'}}
			</span>
			<hr>
		</div>



		<div>
			<label><strong>Costo real por {{model.weightUnit}}:</strong></label>
			<span style="margin-left: 15px;">

				{{model.currency|capitalize}} {{ (realUnitPrice(analizeMelt) || 0 ) | number: '1.2-2' }} / {{model.weightUnit}}
			</span>
			<hr>
		</div>
		<div class="total">
			<label><strong>Costo total:</strong></label>
			<span style="margin-left: 15px;">
				{{model.currency|capitalize}} {{ getTotalPrice() | number: '1.2-2'  }}
			</span>
		</div>
    </div>
    <div class="modal-footer">
		<input type="submit" class="btn btn-primary" [disabled]="!analizeMelt.form.valid||(!analizeMelt.form.dirty&&!analizeMelt.form.touched)" value="Aceptar">
      	<button type="button" class="btn btn-outline-dark" (click)="activeModal.close()">Cerrar</button>
    </div>

</form>

