
.table, th, td{
	text-align: center;
}
.table-control{
	margin-bottom: 15px;
}
/*.fa-cog{
	cursor: pointer;
}*/

/*span.dropdown-toggle::after{
	display:none;
}
.legendDiv{
	background-color: transparent;
	border-color: transparent;
}*/