.close{
	right: 15px;
    position: absolute;
    top: 5px;

}
.modal-title{
	margin: 0 auto!important;
}
input{
	text-align: center;
	font-weight: bold;
}
.main-content{
	padding-top: 80px;
	margin:0 auto;
}
.top-row{
	margin-bottom: 20px;
}

